# <font color='tomato' style="font-size:40px"><center><b>Introduction to Pandas</b></center></font>

* We have seen before several ways to structure data in Python. First we dealt with lists. Then, we talked about NumPy arrays. Now we discuss **Pandas**. If you recall, NumPy arrays all need to contain data of the same type (and if they originally do not, they get transformed to be all of the same type).

* On the other hand, in data bases and spreadsheets data can be usually of different types (strings, floats, etc). Pandas provide us with similar functionalities as NumPy but with this additional flexibility. They are very similar in concept to DataFrame objects in R which you are just learning about and are essentially like **Excel on steroids**.

* Another cool thing is that both export and import of data using Pandas is much simpler than using just regular Python. In this way, with Pandas we are getting tools that we most commonly use when we work in Python in real life situations.

## <font color='orange' style="font-size:25px"><b>Installing packages</b></font>

We are going to use two packages:
* <font color='mediumseagreen'><b>Pandas</b></font>
* <font color='mediumseagreen'><b>Pandas-DataReader</b></font>

Google Colab users already have them installed! However, if you use any other platform you need to install it first. To install them into your desktop Jupyter notebook, you just need to type the following commands in the command prompt:
<br><br>
<b>`pip install pandas-datareader`</b> and

 <b>`pip install pandas`</b>

In [1]:
%pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.10/dist-packages (0.10.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from pandas-datareader) (4.9.3)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.10/dist-packages (from pandas-datareader) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [2]:
%pip install Pandas

Requirement already satisfied: Pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from Pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from Pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from Pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->Pandas) (1.16.0)


Since <font color='mediumseagreen'><b>YFinance</b></font> doesn't come by default with Colab, you have to install it. For that we use magic command:
<br> <font color='Plum'><b>%</b></font>`pip install`
    </font>

In [3]:
%pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.25)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)

Once all packages are properly installed, you should import them into your notebook.
* PS: note that at the end of code below we have line which uses <font color='mediumseagreen'><b>YFinance</b></font> to patch <font color='mediumseagreen'><b>Pandas - Data Reader</b></font>

In [4]:
import pandas as pd
import numpy as np
from pandas_datareader import data as dr
import yfinance as yfin
yfin.pdr_override()

## <font color='orange' style="font-size:25px"><b>Importing and display data with Pandas</b></font>

Up to this point we have used general Python to import data, i.e. function <font color='DodgerBlue'><b>open</b></font> in combination with the string method <font color='DeepPink'><b>split</b></font> or regex to transform one large string into list of numbers with which we can operate. With <font color='mediumseagreen'><b>Pandas</b></font> data import simplifies.

Function <font color='DodgerBlue'><b>pd.read_csv</b></font> has only one required argument - path to the file which you want to import (a string). If data file is in the same directory as the .ipynb file into which you want import it, you have only to give file name with extension.

> Import: "fivepricesNew.csv". Recall that these are daily prices of various stocks and SP500 index. As usual, Google Colab users have to first to upload the file:

In [5]:
from google.colab import files
uploaded1 = files.upload()

Saving fivepricesNew.csv to fivepricesNew.csv

Now import data into <font color='mediumseagreen'><b>Pandas</b></font>:

In [6]:
df1=pd.read_csv("fivepricesNew.csv") #data is imported and placed into data frame called df1

When we call variable *df1* couple of initial and ending rows will be displayed by default:

In [7]:
df1

           Date        AMZN       YHOO         IBM        AAPL    ^GSPC
0      1/2/2013  257.309998  20.080000  196.350006   78.432899  1462.42
1      1/3/2013  258.480011  19.780001  195.270004   77.442299  1459.37
2      1/4/2013  259.149994  19.860001  193.990005   75.285698  1466.47
3      1/7/2013  268.459015  19.400000  193.139999   74.842903  1461.89
4      1/8/2013  266.380005  19.660000  192.869995   75.044296  1457.15
..          ...         ...        ...         ...         ...      ...
499  12/24/2014  303.029999  50.650002  161.820007  112.010002  2081.88
500  12/26/2014  309.089996  50.860001  162.339996  113.989998  2088.77
501  12/29/2014  312.040008  50.529999  160.509995  113.910004  2090.57
502  12/30/2014  310.299988  51.220001  160.050003  112.519997  2080.35
503  12/31/2014  310.350006  50.509998  160.440002  110.379997  2058.90

[504 rows x 6 columns]

If you want to see only 5 initial rows you can use method <font color='DeepPink'><b>head</b></font>:

In [8]:
df1.head() #by default display just the first 5 rows

       Date        AMZN       YHOO         IBM       AAPL    ^GSPC
0  1/2/2013  257.309998  20.080000  196.350006  78.432899  1462.42
1  1/3/2013  258.480011  19.780001  195.270004  77.442299  1459.37
2  1/4/2013  259.149994  19.860001  193.990005  75.285698  1466.47
3  1/7/2013  268.459015  19.400000  193.139999  74.842903  1461.89
4  1/8/2013  266.380005  19.660000  192.869995  75.044296  1457.15

How many initial rows you want to see can be specified by the number inside <font color='DeepPink'><b>head</b></font> method:

In [9]:
df1.head(10)

        Date        AMZN       YHOO         IBM       AAPL    ^GSPC
0   1/2/2013  257.309998  20.080000  196.350006  78.432899  1462.42
1   1/3/2013  258.480011  19.780001  195.270004  77.442299  1459.37
2   1/4/2013  259.149994  19.860001  193.990005  75.285698  1466.47
3   1/7/2013  268.459015  19.400000  193.139999  74.842903  1461.89
4   1/8/2013  266.380005  19.660000  192.869995  75.044296  1457.15
5   1/9/2013  266.350006  19.330000  192.320007  73.871399  1461.02
6  1/10/2013  265.339996  18.990000  192.880005  74.787102  1472.12
7  1/11/2013  267.940002  19.290001  194.449997  74.328598  1472.05
8  1/14/2013  272.730011  19.430000  192.619995  71.678596  1470.68
9  1/15/2013  271.899994  19.520000  192.500000  69.417099  1472.34

Similar for tail <font color='DeepPink'><b>tail</b></font>:

In [10]:
df1.tail(8)

           Date        AMZN       YHOO         IBM        AAPL    ^GSPC
496  12/19/2014  299.899994  50.880001  158.509995  111.779999  2070.65
497  12/22/2014  306.540008  51.150002  161.440002  112.940002  2078.54
498  12/23/2014  306.285004  50.020000  162.240005  112.540001  2082.17
499  12/24/2014  303.029999  50.650002  161.820007  112.010002  2081.88
500  12/26/2014  309.089996  50.860001  162.339996  113.989998  2088.77
501  12/29/2014  312.040008  50.529999  160.509995  113.910004  2090.57
502  12/30/2014  310.299988  51.220001  160.050003  112.519997  2080.35
503  12/31/2014  310.350006  50.509998  160.440002  110.379997  2058.90

* <font color='mediumseagreen'><b>Pandas</b></font> by default take the first row in data set as **table headings**. The table has an additional column called **index**. By default, it is ordinal number of each row in the data set. Serves as ID number for each row.

* Index can be used to uniquely determine which rows user wants to extract from the table when performing transformations of the data set.

* We can use as index column other variable that uniquely identifies rows. In finance price info is typically ordered in time, so variable "Date" can identify each row. For setting a column as index we use the optional argument **index_col** when importing data.

When importing dates, by default, dates are imported as strings. More advanced analysis of dates can be done only if dates are transformed into <font color='mediumseagreen'><b>DateTime</b></font> objects.

You can transform dates from string into <font color='mediumseagreen'><b>DateTime</b></font> objects by using optional argument **parse_dates** when importing the data.

> Let's redefine our data set in a way that index column is now "Date":

In [11]:
df2 = pd.read_csv("fivepricesNew.csv", index_col="Date",parse_dates=True)
df2.head()

                  AMZN       YHOO         IBM       AAPL    ^GSPC
Date
2013-01-02  257.309998  20.080000  196.350006  78.432899  1462.42
2013-01-03  258.480011  19.780001  195.270004  77.442299  1459.37
2013-01-04  259.149994  19.860001  193.990005  75.285698  1466.47
2013-01-07  268.459015  19.400000  193.139999  74.842903  1461.89
2013-01-08  266.380005  19.660000  192.869995  75.044296  1457.15

To import data from an Excel file you can use function <font color='DodgerBlue'><b>pd.read_excel</b></font>. It has only one required argument - file path (or file name) of file that you want to import.

> Let's use it to import data from file: "threereturns.xlsx". These are daily returns on 3 gaming stocks. Again, Google Colab users have to upload file first:

In [12]:
from google.colab import files
uploaded2 = files.upload()

Saving threereturns.xlsx to threereturns.xlsx

In [13]:
df3 = pd.read_excel("threereturns.xlsx")
df3.head()

         Date   Ubisoft    Capcom  Electronic Arts
0  2019-07-02  0.010918 -0.002745         0.018139
1  2019-07-03  0.041296  0.006685        -0.044879
2  2019-07-05 -0.018914  0.020508        -0.045969
3  2019-07-08 -0.012438  0.000957        -0.001709
4  2019-07-09  0.002519 -0.032505        -0.014876

Mostly, it works like <font color='DodgerBlue'><b>pd.read_csv</b></font>. However, if there are many work sheets in the Excel file (which is not the case here) you can specify from which sheet you want to import data (by default the first sheet, i.e. sheet 0 in Python terminology, is used).

 Although the argument name is: **sheet_name** you can give either ordinal number of the sheet that you want to import (numeration starts from 0), or the string which is the exact name of that sheet.

Now we specify that we want to import data from the first sheet. As before we set column "Date" as index column. Argument **usecols** determines which columns you want to import (strings of capital letters corresponding to Excel columns)

**dtype** is dictionary which keys are column names and values are data type which you want to set (if you don't specify them explicitly <font color='mediumseagreen'><b>Pandas</b></font> will set them for you).

In [14]:
df4 = pd.read_excel('threereturns.xlsx',index_col='Date',sheet_name=0,usecols='A,C',dtype={'Date':str,'Capcom':float})
df4

              Capcom
Date
2019-07-02 -0.002745
2019-07-03  0.006685
2019-07-05  0.020508
2019-07-08  0.000957
2019-07-09 -0.032505
...              ...
2020-06-23  0.031746
2020-06-24 -0.025995
2020-06-25  0.018519
2020-06-26 -0.001604
2020-06-29 -0.010712

[251 rows x 1 columns]

To compare the situation when dates are imported as strings and case when dates are imported as  <font color='mediumseagreen'><b>DateTime</b></font> objects we have created this data set (*df4*) with dates given as strings.

### <font color='MediumVioletRed' style="font-size:20px"><b>Importing data from the Internet using DataReader</b></font>

<font color='mediumseagreen'><b>Pandas-DataReader</b></font> scraps data from commonly used websites and stores them in <font color='mediumseagreen'><b>Pandas</b></font>. Very useful indeed.

Some data collections supported by this library:
*  <a href="https://finance.yahoo.com/">Yahoo! Finance</a>
* <a href="https://www.google.com/search?client=firefox-b-d&q=Tiingo">Tiingo</a>
* <a href="https://data.worldbank.org/">World Bank</a>
* <a href="https://data.oecd.org/">OECD</a>
* <a href="https://ec.europa.eu/eurostat/data/database">Eurostat</a>
* <a href="https://fred.stlouisfed.org/">Federal Reserves of St Louis (FRED)</a>
* <a href="https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html">Ken French Data Library</a>
* and many others

From *Yahoo! Finance* one can easily acquire historical data for different stocks and indexes. To do that, use <font color='DodgerBlue'><b>dr.get_data_yahoo</b></font>. Need to specify ticker symbol of index or stock that you want to import as well as starting and ending date of your sample.

Let us use this function to import daily data on Google stock in the period Jan 1st to May 1st of 2021. Note that we first write year, then month, then day.

In [15]:
goog=dr.get_data_yahoo('goog',start='2022-01-01',end='2022-05-01')
goog.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,144.475494,145.550003,143.502502,145.074493,145.074493,25214000
2022-01-04,145.550507,146.610001,143.816147,144.416504,144.416504,22928000
2022-01-05,144.181000,144.298004,137.523499,137.653503,137.653503,49642000
2022-01-06,137.497498,139.686005,136.763504,137.550995,137.550995,29050000
2022-01-07,137.904999,138.254745,135.789001,137.004501,137.004501,19408000

<font color='crimson'>
New accessorizes with this version of Google Colab adds interactive button with magic wand on it next to downloaded table. If you click it transforms your static <font color='MediumSeaGreen'><b>Pandas</b></font> table into an interactive table. Now you have two additional interactive objects:
</font>

* <font color='crimson'>
    Drop down menu on the bottom left corner of table with which you can determine how many rows do you want to see, but it cannot be applied on <font color='MediumSeaGreen'><b>Pandas</b></font> tables unless you increase the number of rows that you want to display with <font color='DeepPink'><b>head</b></font> or display entire table (i.e. don't use <font color='DeepPink'><b>head</b></font> method)
    </font>
* <font color='crimson'>
    Second one is button <button>Filter</button> which appear in upper right corner of your table. By clicking on it a form view appear in which you can state different criteria by which you want to filter the table. You can find interactive form fields for each column in your table in which you insert filtering criteria.
    </font>

<font color='crimson'>
Call entire table <i>goog</i> in next code call and see that you can manipulate with number of rows to be displayed in this way:
    </font>

In [16]:
goog

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,144.475494,145.550003,143.502502,145.074493,145.074493,25214000
2022-01-04,145.550507,146.610001,143.816147,144.416504,144.416504,22928000
2022-01-05,144.181000,144.298004,137.523499,137.653503,137.653503,49642000
2022-01-06,137.497498,139.686005,136.763504,137.550995,137.550995,29050000
2022-01-07,137.904999,138.254745,135.789001,137.004501,137.004501,19408000
...,...,...,...,...,...,...
2022-04-25,119.429497,123.278000,118.769249,123.250000,123.250000,34522000
2022-04-26,122.750000,122.750000,119.161850,119.505997,119.505997,49394000
2022-04-27,114.373001,117.500000,113.124252,115.020500,115.020500,62238000
2022-04-28,117.114998,120.438499,115.143898,119.411499,119.411499,36790000
2022-04-29,117.578003,118.959999,114.694000,114.966499,114.966499,33694000

*FRED (Federal Reserve’s Economic Data)* has a large collection of economic indicators, primarily in the USA (like inflation, interest rates, GDP and so on. To import data from FRED use <font color='DodgerBlue'><b>dr.get_data_fred</b></font> function. Need to know the symbol for the appropriate macroeconomic indicator.

Import monthly data about 4-Week Treasury Bills interest rates (short 'TB4WK') in period from January of 2020 to May of 2021 (these are yields in percentage points, annualized):

In [17]:
tb=dr.get_data_fred('TB4WK',start='2020-01-01',end='2021-05-01')
tb

            TB4WK
DATE
2020-01-01   1.50
2020-02-01   1.55
2020-03-01   0.36
2020-04-01   0.11
2020-05-01   0.10
2020-06-01   0.13
2020-07-01   0.11
2020-08-01   0.08
2020-09-01   0.09
2020-10-01   0.09
2020-11-01   0.09
2020-12-01   0.08
2021-01-01   0.08
2021-02-01   0.04
2021-03-01   0.02
2021-04-01   0.02
2021-05-01   0.01

* *Kenneth R. French - Data Library* website provides data necessary to perform Fama-French regression factors. Use <font color='DodgerBlue'><b>dr.get_data_famafrench</b></font>. Beside the starting and ending date need the name of the data library from which you want to import data.

* In investments, it is very common to look for the most important, salient risk factors that drive returns on financial asset. One of the very commonly used sets of factors are the so-called Fama-French factors.

* The library which contains daily data for basic factors in Fama-French model is called "F-F_Research_Data_Factors_daily". Import data from it for the same period as in previous two examples. Below we have daily data, in percentage points:

In [18]:
ff=dr.get_data_famafrench('F-F_Research_data_Factors_daily',start='2021-01-01',end='2021-05-01')[0]
ff

            Mkt-RF   SMB   HML   RF
Date
2021-01-04   -1.41  0.22  0.58  0.0
2021-01-05    0.86  1.23  0.48  0.0
2021-01-06    0.79  2.14  3.93  0.0
2021-01-07    1.76  0.33 -0.83  0.0
2021-01-08    0.51 -0.75 -1.38  0.0
...            ...   ...   ...  ...
2021-04-26    0.43  0.87 -0.50  0.0
2021-04-27   -0.03 -0.16  0.84  0.0
2021-04-28   -0.06  0.20  0.19  0.0
2021-04-29    0.39 -1.14  1.09  0.0
2021-04-30   -0.83 -0.43 -0.32  0.0

[82 rows x 4 columns]

Please note that by default function will give you both - data set and notes which comes with data sets. Here we used index [0] to extract only data set. They are risk factors that are supposed to explain bulk of the asset returns:

- SMB: excess return of small vs large market cap stocks
- HML: excess return on value (low P/E ratio) vs growth stocks (high P/E ratio)

## <font color='orange' style="font-size:25px"><b>Two basic types of data objects in Pandas</b></font>

Since we have learned how to import data properly we are ready to discuss objects which are used to store data in <font color='mediumseagreen'><b>Pandas</b></font>. There are two basic objects (i.e. data structures):
* <font color='DodgerBlue'><b>pd.DataFrame</b></font>: 2-dimensional data object with two indexes (rows and columns). This is tabular data organized in columns (each column is one series).

* <font color='DodgerBlue'><b>pd.Series</b></font>: 1-dimensional data object with a single index (one column, many rows). This is one time series (i.e. one column).

### <font color='MediumVioletRed' style="font-size:20px"><b>DataFrame class</b></font>

At the core of pandas is <font color='DodgerBlue'><b>pd.DataFrame</b></font>, a class designed to efficiently handle data in tabular form — i.e., data organized in columns.

Provides column labeling and flexible indexing capabilities for the rows (records) of the data set, similar to a table in a relational database or an Excel spreadsheet.

> Let us create one data set from scratch. It will contain two columns with stock prices. The header will be stock names while each row will be indexed by the dates.

When you are defining <font color='DodgerBlue'><b>pd.DataFrame</b></font>, you have to state the following arguments:
1. **data** - required argument. It is a list of lists (tuple, dictionary or even <font color='mediumseagreen'><b>NumPy</b></font>'s <font color='DodgerBlue'><b>np.array</b></font>) where each sub-list represents one row.
2. **columns** - optional argument (if omitted labels 0,1,2... will be set as header). Sets the header of table.
3. **index** - optional argument (if omitted index for rows will be 0,1,2...). Sets the values with which you want to index rows in table.

In [19]:
df5= pd.DataFrame([[100,90,106],[120,88,111],[130,81,103],[135,93,95]],
                  columns=['stock_A','stock_B','stock_C'],
                  index=['day1','day2','day3','day4'])
df5

      stock_A  stock_B  stock_C
day1      100       90      106
day2      120       88      111
day3      130       81      103
day4      135       93       95

We can extract elements used to define instance of <font color='DodgerBlue'><b>pd.DataFrame</b></font> in the same way as with any other class, by calling attributes. Let's extract column names (i.e. header):

In [20]:
df5.columns

Index(['stock_A', 'stock_B', 'stock_C'], dtype='object')

Notice that given element is an object called **index**. Usually we can't work with it, so it is nice to convert such object into list. Now try to extract rows labels and convert given object into list:

In [21]:
list(df5.index)

['day1', 'day2', 'day3', 'day4']

### <font color='MediumVioletRed' style="font-size:20px"><b>Series class</b></font>

<font color='DodgerBlue'><b>pd.Series</b></font> is data set with only one column. Its name (Series) comes from the fact that if you use dates as index (which we often do in finance) you will get list of pairs date-value which is a times series.

<font color='DodgerBlue'><b>pd.Series</b></font> can be constructed in almost the same way as <font color='DodgerBlue'><b>pd.DataFrame</b></font>. Argument **data** is now a simple list (or other appropriate data type), while instead of **columns** we have **name** as arguments which labels the column. On the other hand, argument **index** stayed the same.

> Let's create a <font color='DodgerBlue'><b>pd.Series</b></font> for first stock (stock A) data:

In [22]:
s1 = pd.Series([100,120,130,135], name="stock_A",index=['day1','day2','day3','day4'])
s1

day1    100
day2    120
day3    130
day4    135
Name: stock_A, dtype: int64

Although they are constructed in the same way, their output looks a little bit different. Output is now printed, i.e. it isn't shown as table. Furthermore, name of the column is given below the printed pairs as footnote.

## <font color='orange' style="font-size:25px"><b>Extracting parts of a pandas object</b></font>

Big advantage of <font color='DodgerBlue'><b>pd.DataFrame</b></font>s is that they are more flexible to work with than other data types which can be used for data storing (for example <font color='mediumseagreen'><b>NumPy</b></font>'s <font color='DodgerBlue'><b>np.array</b></font>). On the other hand, <font color='DodgerBlue'><b>pd.DataFrame</b></font> objects are as computationally efficient as <font color='mediumseagreen'><b>NumPy</b></font>'s <font color='DodgerBlue'><b>np.array</b></font> objects.

> Assume that you want to extract data about AMZN stock from **df2** Like with any dictionary, you just need to put name of the column (dictionary key) in square brackets in front of it, and you will get only data from desired column:

In [23]:
df2['AMZN'] #Selecting Amazon stock from df2 datafrime(selects a column of data). We obtain Series object if we select just one column

Date
2013-01-02    257.309998
2013-01-03    258.480011
2013-01-04    259.149994
2013-01-07    268.459015
2013-01-08    266.380005
                 ...
2014-12-24    303.029999
2014-12-26    309.089996
2014-12-29    312.040008
2014-12-30    310.299988
2014-12-31    310.350006
Name: AMZN, Length: 504, dtype: float64

If we want to select 2 columns, for example, we specify a list of column names:

> Extract two specified columns:

In [24]:
df2[['AMZN','YHOO']]

                  AMZN       YHOO
Date
2013-01-02  257.309998  20.080000
2013-01-03  258.480011  19.780001
2013-01-04  259.149994  19.860001
2013-01-07  268.459015  19.400000
2013-01-08  266.380005  19.660000
...                ...        ...
2014-12-24  303.029999  50.650002
2014-12-26  309.089996  50.860001
2014-12-29  312.040008  50.529999
2014-12-30  310.299988  51.220001
2014-12-31  310.350006  50.509998

[504 rows x 2 columns]

Suppose we want to select data correponding to **a single date** (i.e. a row). If we know what date it is, we can use <font color='DeepPink'><b>loc</b></font> method. The argument is the index method, in this case the date. In this case is another (smaller) <font color='DodgerBlue'><b>pd.DataFrame</b></font>, not <font color='DodgerBlue'><b>pd.Series</b></font>!

In [25]:
df2.loc['2013-01-02'] #this selects data for January 2nd, 2013

AMZN      257.309998
YHOO       20.080000
IBM       196.350006
AAPL       78.432899
^GSPC    1462.420000
Name: 2013-01-02 00:00:00, dtype: float64

As in case when you extract a single column, output of a single row extraction is <font color='DodgerBlue'><b>pd.Series</b></font> (put in this case indexes are column names). However, if you extract multiple rows, output will, of course, be another <font color='DodgerBlue'><b>pd.DataFrame</b></font>. In that case you would have to give list of all rows indexes that you want to extract instead of single row name:

In [26]:
df2.loc[['2013-01-02','2013-01-03']]

                  AMZN       YHOO         IBM       AAPL    ^GSPC
Date
2013-01-02  257.309998  20.080000  196.350006  78.432899  1462.42
2013-01-03  258.480011  19.780001  195.270004  77.442299  1459.37

In [27]:
df2.loc['2013-01-04':'2013-01-08']  # This selects data from January 4th to January 8th, 2013

                  AMZN       YHOO         IBM       AAPL    ^GSPC
Date
2013-01-04  259.149994  19.860001  193.990005  75.285698  1466.47
2013-01-07  268.459015  19.400000  193.139999  74.842903  1461.89
2013-01-08  266.380005  19.660000  192.869995  75.044296  1457.15

Suppose you want to extract data from the third row, but **you cannot remember** what the exact index name of that row is. For this we use <font color='DeepPink'><b>iloc</b></font> method. When the method is applied you have to give ordinal number of the raw that you want to extract in square brackets. Let's use it to extract third row from the same data set:

In [28]:
df2.iloc[2]

AMZN      259.149994
YHOO       19.860001
IBM       193.990005
AAPL       75.285698
^GSPC    1466.470000
Name: 2013-01-04 00:00:00, dtype: float64

We can use the same notation as with NumPy arrays. Suppose we want to select data from row 5 to row 10.

In [29]:
df2.iloc[4:10] #Recall the notation

                  AMZN       YHOO         IBM       AAPL    ^GSPC
Date
2013-01-08  266.380005  19.660000  192.869995  75.044296  1457.15
2013-01-09  266.350006  19.330000  192.320007  73.871399  1461.02
2013-01-10  265.339996  18.990000  192.880005  74.787102  1472.12
2013-01-11  267.940002  19.290001  194.449997  74.328598  1472.05
2013-01-14  272.730011  19.430000  192.619995  71.678596  1470.68
2013-01-15  271.899994  19.520000  192.500000  69.417099  1472.34


When we extract columns from <font color='DodgerBlue'><b>np.array</b></font>, we need to give two dimensions in square brackets (one for row and the other for column). Extract the whole second column from the same data set only by using its position:

In [30]:
df2.iloc[:,1] #This are yahoo! stock prices

Date
2013-01-02    20.080000
2013-01-03    19.780001
2013-01-04    19.860001
2013-01-07    19.400000
2013-01-08    19.660000
                ...
2014-12-24    50.650002
2014-12-26    50.860001
2014-12-29    50.529999
2014-12-30    51.220001
2014-12-31    50.509998
Name: YHOO, Length: 504, dtype: float64

Thus, all you have learned when working with NumPy arrays slicing you can use with Pandas as well.

### <font color='MediumVioletRed' style="font-size:20px"><b>Conditional data extraction</b></font>

When we analyze some data set we frequently have to select only data which satisfied some logical conditions. This can be done in the same way as we did that with <font color='mediumseagreen'><b>NumPy</b></font>'s <font color='DodgerBlue'><b>np.array</b></font>.

First let's redefine *df3* which contains data from file "threereturns.xlsx". Basically, the only difference is that here I just want to put dates as indices, but I will keep them in string format (you will see why):

In [31]:
df3=pd.read_excel('threereturns.xlsx',index_col='Date')
df3.head()

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-02  0.010918 -0.002745         0.018139
2019-07-03  0.041296  0.006685        -0.044879
2019-07-05 -0.018914  0.020508        -0.045969
2019-07-08 -0.012438  0.000957        -0.001709
2019-07-09  0.002519 -0.032505        -0.014876

> Assume that we want to select Ubisoft daily returns which were greater than 4%:

In [32]:
df3['Ubisoft'] > 0.04

Date
2019-07-02    False
2019-07-03     True
2019-07-05    False
2019-07-08    False
2019-07-09    False
              ...
2020-06-23    False
2020-06-24    False
2020-06-25    False
2020-06-26    False
2020-06-29    False
Name: Ubisoft, Length: 251, dtype: bool

The output of test given above is <font color='DodgerBlue'><b>pd.Series</b></font> which for each date (index) shows whether test yields True or False. So, as in case of <font color='mediumseagreen'><b>NumPy</b></font>'s <font color='DodgerBlue'><b>np.array</b></font>, if we put this output in square brackets in front of our <font color='DodgerBlue'><b>pd.DataFrame</b></font> only rows with value True will be displayed. Let' try that out:

In [33]:
df3[df3['Ubisoft'] > 0.04] # Selects all rows for which the condition is True.

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-03  0.041296  0.006685        -0.044879
2019-07-10  0.040201  0.012846         0.020750
2019-10-28  0.109932 -0.026134         0.004257
2019-12-04  0.051852  0.043698        -0.006320
2019-12-12  0.044391  0.066130         0.018314
2019-12-13  0.042504  0.000000        -0.005138
2020-01-08  0.041176  0.002907         0.010149
2020-01-28  0.043210 -0.012075         0.012120
2020-03-10  0.045586  0.030000         0.024274
2020-03-13  0.042707  0.049497         0.039743
2020-03-17  0.099693  0.110345         0.076012
2020-03-24  0.064491  0.026217        -0.012255
2020-03-26  0.073746  0.067857         0.106649
2020-04-27  0.049519 -0.024451        -0.002493

Note that as output you got all rows from our data set that satisfy the given condition. That means that columns which weren't part of the test (Capcom and EA's returns) were shown as well.

If you want to see only Ubisofts returns you can extract the column Ubisoft from the previous output:

In [34]:
df3[df3['Ubisoft'] > 0.04]['Ubisoft']

Date
2019-07-03    0.041296
2019-07-10    0.040201
2019-10-28    0.109932
2019-12-04    0.051852
2019-12-12    0.044391
2019-12-13    0.042504
2020-01-08    0.041176
2020-01-28    0.043210
2020-03-10    0.045586
2020-03-13    0.042707
2020-03-17    0.099693
2020-03-24    0.064491
2020-03-26    0.073746
2020-04-27    0.049519
Name: Ubisoft, dtype: float64

Say you are interested in days for which Ubisofts returns were positive while returns on the other two stocks were negative. Here we have three conditions and all three of them need to be satisfied in order for a row to be extracted, i.e. all three of them are connected with operator <font color='DarkGreen'><b>&</b></font>.

Note that when we have multiple conditions we have to put each of them in small brackets:

> Find dates for which Ubisoft makes money while the other two companies lose money (on the daily basis)

In [35]:
cond1 = (df3['Ubisoft'] > 0) & (df3['Capcom']<0) & (df3['Electronic Arts'] <0)
df3[cond1]

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-09  0.002519 -0.032505        -0.014876
2019-09-11  0.016656 -0.044611        -0.003920
2019-10-31  0.021739 -0.029286        -0.003309
2019-11-13  0.009009 -0.007692        -0.003426
2019-11-26  0.023932 -0.014309        -0.005210
2019-12-02  0.016639 -0.008746        -0.006039
2019-12-27  0.011852 -0.002920        -0.000737
2020-01-02  0.010885 -0.004298        -0.001581
2020-01-09  0.014831 -0.008333        -0.001187
2020-01-21  0.015184 -0.001879        -0.004605
2020-01-24  0.018233 -0.008642        -0.010134
2020-01-27  0.004132 -0.007265        -0.015757
2020-02-13  0.003106 -0.005672        -0.008020
2020-02-21  0.006778 -0.012500        -0.010897
2020-02-28  0.008086 -0.066434        -0.013335
2020-03-03  0.007314 -0.040428        -0.001778
2020-03-16  0.007728 -0.072742        -0.086441
2020-03-20  0.011990 -0.006383        -0.034644
2020-04-09  0.010731 -0.047201        -0.009363
2020-04-17  0.025624 -0.051095        -0.024979
2020-04-27  0.049519 -0.024451        -0.002493
2020-05-01  0.005394 -0.007707        -0.008664
2020-05-06  0.014550 -0.008104        -0.035867

Suppose we want to find dates for which all 3 returns were positive. Instead of using the previous method, we can also do it like this. Note that when a return is negative, we can NaN (missing value).

In [36]:
cond2=df3 > 0
df3c = df3[cond2]
df3c

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-02  0.010918       NaN         0.018139
2019-07-03  0.041296  0.006685              NaN
2019-07-05       NaN  0.020508              NaN
2019-07-08       NaN  0.000957              NaN
2019-07-09  0.002519       NaN              NaN
...              ...       ...              ...
2020-06-23  0.008382  0.031746         0.006784
2020-06-24  0.004476       NaN         0.002067
2020-06-25  0.009548  0.018519              NaN
2020-06-26       NaN       NaN         0.001453
2020-06-29       NaN       NaN              NaN

[251 rows x 3 columns]

One can use method <font color='DeepPink'><b>dropna</b></font> to get rid of the missing data. If you apply it directly with no optional arguments it would display only rows which do not contain any missing data, but it won't erase missing data from the data set:

In [37]:
df3c.dropna() # This drops rows where at least one element in the row is NaN

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-10  0.040201  0.012846         0.020750
2019-08-01  0.001824  0.051025         0.022703
2019-08-06  0.013401  0.030424         0.017045
2019-08-08  0.008833  0.010761         0.032080
2019-08-13  0.007430  0.004643         0.006211
2019-08-16  0.027724  0.029748         0.019117
2019-08-21  0.030856  0.021707         0.014455
2019-10-09  0.002355  0.010303         0.003674
2019-11-08  0.024793  0.008718         0.010696
2019-11-25  0.014744  0.049785         0.006150
2019-12-12  0.044391  0.066130         0.018314
2019-12-19  0.014394  0.011385         0.002428
2019-12-31  0.008785  0.029499         0.005424
2020-01-08  0.041176  0.002907         0.010149
2020-01-13  0.011773  0.027240         0.011327
2020-01-22  0.007835  0.021084         0.006049
2020-01-23  0.007774  0.023968         0.003449
2020-01-29  0.001972  0.027037         0.002770
2020-02-04  0.006536  0.041696         0.019326
2020-02-05  0.021429  0.036058         0.007005
2020-02-12  0.006879  0.001336         0.006236
2020-03-02  0.005348  0.091311         0.054454
2020-03-04  0.026403  0.037911         0.048079
2020-03-10  0.045586  0.030000         0.024274
2020-03-13  0.042707  0.049497         0.039743
2020-03-17  0.099693  0.110345         0.076012
2020-03-26  0.073746  0.067857         0.106649
2020-03-30  0.015572  0.037061         0.024326
2020-04-16  0.002705  0.037224         0.040437
2020-04-24  0.017495  0.023748         0.016163
2020-04-29  0.005435  0.038006         0.012842
2020-05-07  0.018253  0.034641         0.012834
2020-05-20  0.039392  0.029715         0.008520
2020-05-22  0.008581  0.048972         0.020961
2020-05-28  0.021247  0.004098         0.033822
2020-05-29  0.035570  0.043149         0.012608
2020-06-10  0.021053  0.022134         0.030891
2020-06-17  0.001308  0.005562         0.018929
2020-06-18  0.000653  0.006637         0.009679
2020-06-23  0.008382  0.031746         0.006784

Suppose you drop rows where **all** elements are missing. Use optional argument **how** to determine that.Once again this won't change your data set! It will only display to you how data set would look like without rows with all missing data:

In [38]:
df3c.dropna(how='all') # This only drops rows where all elements of the row are NaN

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-02  0.010918       NaN         0.018139
2019-07-03  0.041296  0.006685              NaN
2019-07-05       NaN  0.020508              NaN
2019-07-08       NaN  0.000957              NaN
2019-07-09  0.002519       NaN              NaN
...              ...       ...              ...
2020-06-22  0.016383  0.027270              NaN
2020-06-23  0.008382  0.031746         0.006784
2020-06-24  0.004476       NaN         0.002067
2020-06-25  0.009548  0.018519              NaN
2020-06-26       NaN       NaN         0.001453

[213 rows x 3 columns]

To permanently make changes in your data set you would have to use optional argument **inplace** and set it to True. But be careful, once when you erase rows with missing data you cannot get them back.



---
**<font color='DarkBlue ' style="font-size:25px"> Task: Extracting data from Yahoo Finance</font>**

Write a program to calculate the percentage price change over 2022 for the following shares:

In [40]:
import datetime as dt
import yfinance as yf

In [44]:
ticker_list = {'INTC': 'Intel',
               'MSFT': 'Microsoft',
               'IBM': 'IBM',
               'TM': 'Toyota',
               'AAPL': 'Apple',
               'AMZN': 'Amazon',
               'C': 'Citigroup',
               'QCOM': 'Qualcomm',
               'GOOG': 'Google'}

In [66]:
def read_data(ticker_list,
          start=dt.datetime(2022,1,1),
          end=dt.datetime(2022,12,31)):
    """
    This function reads in closing price data from Yahoo
    for each tick in the ticker_list.
    """
    ticker = pd.DataFrame()

    for tick in ticker_list:
        stock = yf.Ticker(tick)
        prices = stock.history(start = start, end = end)
        # Change the index to date-only
        prices.index = pd.to_datetime(prices.index.date)

        closing_prices = prices['Close']
        ticker[tick] = closing_prices

    return ticker

ticker = read_data(ticker_list)

p1 = ticker.iloc[0]
p2 = ticker.iloc[-1]
price_change = (p2-p1) / p1 * 100

print(price_change)

INTC   -48.357430
MSFT   -27.687179
IBM      8.701409
TM     -26.684198
AAPL   -28.199498
AMZN   -50.705526
C      -25.438637
QCOM   -39.684171
GOOG   -38.838316
dtype: float64

## <font color='orange' style="font-size:25px"><b>Applying functions to pandas dataframes</b></font>

When analyzing data we apply functions to them, filter and transform them in some way.So it is important to know how to apply functions on data sets and their parts, i.e. how to:

* apply functions to <font color='mediumseagreen'><b>Pandas</b></font> which are defined as methods of <font color='DodgerBlue'><b>pd.DataFrame</b></font> class
* apply vectorized functions from other packages on <font color='mediumseagreen'><b>Pandas</b></font>
* apply user-defined functions

### <font color='MediumVioletRed' style="font-size:20px"><b>Applying functions available as methods in Pandas</b></font>

A lot of functions that you can think of are already defined as methods which you can apply to your data set in <font color='mediumseagreen'><b>Pandas</b></font>. They are designed to provide you with the basic tool kit in data analysis. We can separate them in three groups:

* functions that are used to calculate some indicator or statistics
* functions used to transform data set
* functions used to provide some general information about the data set

#### <font color='MediumPurple' style="font-size:16px"><b>Functions defined to calculate some indicators</b></font>

Find the average daily return on each of the three stocks from the gaming industry. That would mean that you want to calculate mean of each column in the data set by applying method <font color='DeepPink'><b>mean</b></font>. This calculates mean for each column of data:

In [68]:
df3.mean()

Ubisoft            0.000390
Capcom             0.002813
Electronic Arts    0.001274
dtype: float64

Please note that default value of argument **axis** is 0. This means that when **axis** is set to zero, function by default calculates average value of columns. We can check that as follows:

In [69]:
df3.mean(axis=0)

Ubisoft            0.000390
Capcom             0.002813
Electronic Arts    0.001274
dtype: float64

Just like we have done so with NumPy, we can calculate average returns for the gaming industry for each date. That would mean that you want to calculate mean of each row.

In that case you need the optional argument **axis** of the method <font color='DeepPink'><b>mean</b></font> and set it to 1. This would be daily returns of **equally weighted** portfolio of the 3 stocks.

In [70]:
df3.mean(axis=1)

Date
2019-07-02    0.008771
2019-07-03    0.001034
2019-07-05   -0.014792
2019-07-08   -0.004397
2019-07-09   -0.014954
                ...
2020-06-23    0.015637
2020-06-24   -0.006484
2020-06-25    0.009024
2020-06-26   -0.002572
2020-06-29   -0.004817
Length: 251, dtype: float64

In [71]:
df3.mean(axis=1).iloc[2:5] # Combining with what we have learned previously

Date
2019-07-05   -0.014792
2019-07-08   -0.004397
2019-07-09   -0.014954
dtype: float64

Calculate the aggregate return on each stock. The aggregate return is the sum of all returns on an investment that you had in certain period of time. This can be calculated by applying method <font color='DeepPink'><b>sum</b></font> on data set:

In [72]:
df3.sum()

Ubisoft            0.097794
Capcom             0.706129
Electronic Arts    0.319746
dtype: float64

And many other methods like: <font color='DeepPink'><b>max</b></font>, <font color='DeepPink'><b>skew</b></font> (computes skewness), <font color='DeepPink'><b>var</b></font> (computes variance), <font color='DeepPink'><b>median</b></font>, etc.

In [78]:
print(df3.var())
print()
print(df3.max())
print()
print(df3.skew())
print()
print(df3.median())

Ubisoft            0.000698
Capcom             0.000773
Electronic Arts    0.000488
dtype: float64

Ubisoft            0.109932
Capcom             0.114337
Electronic Arts    0.106649
dtype: float64

Ubisoft           -0.848153
Capcom            -0.008476
Electronic Arts    0.263648
dtype: float64

Ubisoft            0.002027
Capcom             0.000000
Electronic Arts    0.001424
dtype: float64

#### <font color='MediumPurple' style="font-size:16px"><b>Functions that transform a data set</b></font>

*Difference* calculates difference of successive elements in series with some lags. Let $P=\{p_0,p_1,p_2,p_3\}$. Then, the first difference is:

$$\Delta P=\{-,p_1-p_0,p_2-p_1,p_3-p_2\}=\{-,\Delta p_1,\Delta p_2,\Delta p_3\}$$

The second difference would be:
$$\Delta_2 P =\{-,-,p_2-p_0,p_3-p_1\}=\{-,-,\Delta_2 p_2,\Delta_2 p_3\}$$

Method which calculates difference is called <font color='DeepPink'><b>diff</b></font>:

In [79]:
df2

                  AMZN       YHOO         IBM        AAPL    ^GSPC
Date
2013-01-02  257.309998  20.080000  196.350006   78.432899  1462.42
2013-01-03  258.480011  19.780001  195.270004   77.442299  1459.37
2013-01-04  259.149994  19.860001  193.990005   75.285698  1466.47
2013-01-07  268.459015  19.400000  193.139999   74.842903  1461.89
2013-01-08  266.380005  19.660000  192.869995   75.044296  1457.15
...                ...        ...         ...         ...      ...
2014-12-24  303.029999  50.650002  161.820007  112.010002  2081.88
2014-12-26  309.089996  50.860001  162.339996  113.989998  2088.77
2014-12-29  312.040008  50.529999  160.509995  113.910004  2090.57
2014-12-30  310.299988  51.220001  160.050003  112.519997  2080.35
2014-12-31  310.350006  50.509998  160.440002  110.379997  2058.90

[504 rows x 5 columns]

In [80]:
df2.diff()

                AMZN      YHOO       IBM      AAPL  ^GSPC
Date
2013-01-02       NaN       NaN       NaN       NaN    NaN
2013-01-03  1.170013 -0.299999 -1.080002 -0.990601  -3.05
2013-01-04  0.669983  0.080000 -1.279999 -2.156601   7.10
2013-01-07  9.309021 -0.460001 -0.850006 -0.442795  -4.58
2013-01-08 -2.079010  0.260000 -0.270004  0.201393  -4.74
...              ...       ...       ...       ...    ...
2014-12-24 -3.255005  0.630001 -0.419998 -0.529999  -0.29
2014-12-26  6.059998  0.209999  0.519989  1.979996   6.89
2014-12-29  2.950012 -0.330002 -1.830002 -0.079994   1.80
2014-12-30 -1.740021  0.690002 -0.459991 -1.390007 -10.22
2014-12-31  0.050018 -0.710003  0.389999 -2.139999 -21.45

[504 rows x 5 columns]

By default it calculates first difference but you can change that by inserting optional argument - lag at which you calculate the second difference:

In [82]:
df2.diff(2)

                AMZN      YHOO       IBM      AAPL  ^GSPC
Date
2013-01-02       NaN       NaN       NaN       NaN    NaN
2013-01-03       NaN       NaN       NaN       NaN    NaN
2013-01-04  1.839996 -0.219999 -2.360001 -3.147202   4.05
2013-01-07  9.979004 -0.380001 -2.130005 -2.599396   2.52
2013-01-08  7.230011 -0.200001 -1.120010 -0.241402  -9.32
...              ...       ...       ...       ...    ...
2014-12-24 -3.510010 -0.500000  0.380005 -0.930000   3.34
2014-12-26  2.804993  0.840000  0.099991  1.449997   6.60
2014-12-29  9.010010 -0.120003 -1.310013  1.900002   8.69
2014-12-30  1.209992  0.360001 -2.289993 -1.470001  -8.42
2014-12-31 -1.690002 -0.020000 -0.069992 -3.530006 -31.67

[504 rows x 5 columns]

If you want to see how your investment generate aggregate returns over time you need to create cumulative sum of returns. For that method <font color='DeepPink'><b>cumsum</b></font> is used. Suppose we want to calculate cumulative daily returns for each stock (column).

$r_1$, $r_1+r_2$, $r_1+r_2+r_3$, etc

In [83]:
df3.head()

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-02  0.010918 -0.002745         0.018139
2019-07-03  0.041296  0.006685        -0.044879
2019-07-05 -0.018914  0.020508        -0.045969
2019-07-08 -0.012438  0.000957        -0.001709
2019-07-09  0.002519 -0.032505        -0.014876

In [84]:
df3.cumsum() # By default, calculation is along columns. This is cumulative sum

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-02  0.010918 -0.002745         0.018139
2019-07-03  0.052214  0.003940        -0.026741
2019-07-05  0.033301  0.024448        -0.072710
2019-07-08  0.020863  0.025405        -0.074419
2019-07-09  0.023382 -0.007100        -0.089295
...              ...       ...              ...
2020-06-23  0.093243  0.725922         0.319052
2020-06-24  0.097719  0.699927         0.321119
2020-06-25  0.107267  0.718445         0.320126
2020-06-26  0.099700  0.716841         0.321579
2020-06-29  0.097794  0.706129         0.319746

[251 rows x 3 columns]

Suppose we want to calculate gross returns on each of the stocks. We can do this by simply adding 1 (like with NumPy)

In [86]:
gross_rets = 1+df3
gross_rets.head()

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-02  1.010918  0.997255         1.018139
2019-07-03  1.041296  1.006685         0.955121
2019-07-05  0.981086  1.020508         0.954031
2019-07-08  0.987562  1.000957         0.998291
2019-07-09  1.002519  0.967495         0.985124

To find cumulative returns from simple returns we can use the method <font color='DeepPink'><b>cumprod</b></font>:

$$1+r_1$$
$$(1+r_1)(1+r_2)$$
$$(1+r_1)(1+r_2)(1+r_3)$$, etc

In [89]:
gross_rets.cumprod() # By default, calculation is along columns. This is cumulative product

             Ubisoft    Capcom  Electronic Arts
Date
2019-07-02  1.010918  0.997255         1.018139
2019-07-03  1.052665  1.003922         0.972445
2019-07-05  1.032755  1.024510         0.927743
2019-07-08  1.019910  1.025490         0.926157
2019-07-09  1.022479  0.992157         0.912380
...              ...       ...              ...
2020-06-23  1.004496  1.875932         1.294479
2020-06-24  1.008992  1.827168         1.297155
2020-06-25  1.018626  1.861005         1.295867
2020-06-26  1.010918  1.858019         1.297750
2020-06-29  1.008992  1.838115         1.295371

[251 rows x 3 columns]

There are some other functions (i.e. methods) which are important and which are used to transform data, but we will discuss them later on in this lecture.

#### <font color='MediumPurple' style="font-size:16px"><b>Functions defined to give general information about the data set</b></font>

Finally, there are methods used to provide general information about your data set. Method <font color='DeepPink'><b>info</b></font> will give you technical informations about your data set, like: the number of rows, the number of columns, data type stored in each column, memory usage and other:

In [91]:
df3.info() # This tells us something about the structure of the dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 251 entries, 2019-07-02 to 2020-06-29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ubisoft          251 non-null    float64
 1   Capcom           251 non-null    float64
 2   Electronic Arts  251 non-null    float64
dtypes: float64(3)
memory usage: 15.9+ KB

Method <font color='DeepPink'><b>describe</b></font> will give you basic descriptive statistics for each column in your data set:

In [92]:
df3.describe() #This provides summary statistics of the dataframe

          Ubisoft      Capcom  Electronic Arts
count  251.000000  251.000000       251.000000
mean     0.000390    0.002813         0.001274
std      0.026417    0.027808         0.022095
min     -0.166129   -0.129864        -0.086441
25%     -0.012299   -0.008590        -0.007478
50%      0.002027    0.000000         0.001424
75%      0.014487    0.016324         0.012200
max      0.109932    0.114337         0.106649

If you are not satisfied with statistics that are given in table above you can design your own set of descriptive statistics which you want to apply at once on data set with method <font color='DeepPink'><b>aggregate</b></font>.

Inside of it you have to give the list of strings where each string is name of method which you want to apply on data set. Assume that you want only to see sum, mean and min/max value for each column in data set. This can be achieved in following way:

In [93]:
df3.aggregate(['sum','min','max','mean'])

       Ubisoft    Capcom  Electronic Arts
sum   0.097794  0.706129         0.319746
min  -0.166129 -0.129864        -0.086441
max   0.109932  0.114337         0.106649
mean  0.000390  0.002813         0.001274

### <font color='MediumVioletRed' style="font-size:20px"><b>Applying predefined functions</b></font>

We can apply a lot of predefined functions from general Python and its libraries on <font color='mediumseagreen'><b>Pandas</b></font>. If a function is defined on a single number (like the square root or a logarithm) it is applyed on each number in data set. On the other hand, if the function is defined on the list it is applied on the entire column (like mean or max):

#### <font color='MediumPurple' style="font-size:16px"><b>Functions appled on each cell - examples</b></font>

In risk modeling course we will have to work with squared returns. Here is an easy way how to take a square of each return in data set:

In [100]:
df3.pow(2) # Each return is taken to the power of 2 (i.e. it is squared)

             Ubisoft        Capcom  Electronic Arts
Date
2019-07-02  0.000119  7.535195e-06     3.290083e-04
2019-07-03  0.001705  4.468957e-05     2.014150e-03
2019-07-05  0.000358  4.205682e-04     2.113134e-03
2019-07-08  0.000155  9.156729e-07     2.921908e-06
2019-07-09  0.000006  1.056563e-03     2.212908e-04
...              ...           ...              ...
2020-06-23  0.000070  1.007811e-03     4.602104e-05
2020-06-24  0.000020  6.757214e-04     4.273717e-06
2020-06-25  0.000091  3.429355e-04     9.865972e-07
2020-06-26  0.000057  2.573878e-06     2.111715e-06
2020-06-29  0.000004  1.147561e-04     3.359786e-06

[251 rows x 3 columns]

In data set *df2* we have data about prices of four stocks and values of SP500 index. As you will see in last subchapter of this part of lecture, where we recap different type of returns, we will have to calculate logarithm of prices for one type of returns. This can be done in the following way:

In [103]:
np.log(df2) # Calculating log of all prices

                AMZN      YHOO       IBM      AAPL     ^GSPC
Date
2013-01-02  5.550282  2.999724  5.279899  4.362243  7.287848
2013-01-03  5.554818  2.984671  5.274383  4.349533  7.285760
2013-01-04  5.557407  2.988708  5.267807  4.321290  7.290613
2013-01-07  5.592698  2.965273  5.263415  4.315391  7.287485
2013-01-08  5.584924  2.978586  5.262016  4.318079  7.284238
...              ...       ...       ...       ...       ...
2014-12-24  5.713832  3.924939  5.086485  4.718588  7.641027
2014-12-26  5.733632  3.929077  5.089693  4.736111  7.644331
2014-12-29  5.743131  3.922567  5.078356  4.735409  7.645192
2014-12-30  5.737540  3.936130  5.075486  4.723131  7.640291
2014-12-31  5.737701  3.922171  5.077920  4.703929  7.629927

[504 rows x 5 columns]

Calculating log returns combines two operations: $r_t^l = \log(p_t)-\log(p_{t-1})$.

In [104]:
np.log(df2).diff() #Calculating log returns

                AMZN      YHOO       IBM      AAPL     ^GSPC
Date
2013-01-02       NaN       NaN       NaN       NaN       NaN
2013-01-03  0.004537 -0.015053 -0.005516 -0.012710 -0.002088
2013-01-04  0.002589  0.004036 -0.006577 -0.028243  0.004853
2013-01-07  0.035291 -0.023435 -0.004391 -0.005899 -0.003128
2013-01-08 -0.007774  0.013313 -0.001399  0.002687 -0.003248
...              ...       ...       ...       ...       ...
2014-12-24 -0.010684  0.012516 -0.002592 -0.004721 -0.000139
2014-12-26  0.019801  0.004138  0.003208  0.017523  0.003304
2014-12-29  0.009499 -0.006510 -0.011337 -0.000702  0.000861
2014-12-30 -0.005592  0.013563 -0.002870 -0.012278 -0.004901
2014-12-31  0.000161 -0.013959  0.002434 -0.019202 -0.010364

[504 rows x 5 columns]

#### <font color='MediumPurple' style="font-size:16px"><b>Functions applied on each column - examples</b></font>

Some functions are defined to be applied on some iterable, not on individual elements. Such functions are mapped on columns of your data set. For example function <font color='DodgerBlue'><b>np.std</b></font> from <font color='MediumSeaGreen'><b>NumPy</b></font> is defined on iterable and computes its standard deviation.Thus, when we apply it on <font color='DodgerBlue'><b>pd.DataFrame</b></font> we get:

In [105]:
np.std(df3)   # Calculating daily standard deviation for each stock (for each column)

Ubisoft            0.026364
Capcom             0.027753
Electronic Arts    0.022051
dtype: float64

In [106]:
np.std(df3,axis=1) # # Standard deviation for each row

Date
2019-07-02    0.008660
2019-07-03    0.035407
2019-07-05    0.027295
2019-07-08    0.005789
2019-07-09    0.014298
                ...
2020-06-23    0.011409
2020-06-24    0.013831
2020-06-25    0.007974
2020-06-26    0.003745
2020-06-29    0.004169
Length: 251, dtype: float64

### <font color='MediumVioletRed' style="font-size:20px"><b>Applying user-defined functions</b></font>

Let us define a user-defined function which computes **variance of returns**. Generally, average daily return is pretty close to zero. Thus we can make an assumption that its mean is approximately equal to zero. In that case variance formula becomes:

$$Var(r)=\frac{1}{n-1}\sum_{t=0}^{n}(r_t-0)^2=\frac{1}{n-1}\sum_{t=0}^{n}r_t^2$$

In [107]:
def VAR(x):
  return np.sum(x ** 2)/(len(x)-1)

In [108]:
VAR(df3)

Ubisoft            0.000698
Capcom             0.000781
Electronic Arts    0.000490
dtype: float64

Method <font color='DeepPink'><b>apply</b></font> is very powerful. You can use it to apply any function on columns of data set. It is in a way substitute for method <font color='DeepPink'><b>aggregate</b></font> which is used to apply several methods on <font color='DodgerBlue'><b>pd.DataFrame</b></font> while <font color='DeepPink'><b>apply</b></font> can apply several functions on <font color='DodgerBlue'><b>pd.DataFrame</b></font>.

> Let's use <font color='DeepPink'><b>apply</b></font> to calculate several descriptive statistics which we will select. Here I am going to show you that you can apply different type of functions at once with method <font color='DeepPink'><b>apply</b></font> (general Python function, lambda function, user-defined functions and functions from other libraries).

In [109]:
df3.apply([sum,lambda x: len(x),np.mean,VAR])

             Ubisoft      Capcom  Electronic Arts
sum         0.097794    0.706129         0.319746
<lambda>  251.000000  251.000000       251.000000
mean        0.000390    0.002813         0.001274
VAR         0.000698    0.000781         0.000490

### <font color='MediumVioletRed' style="font-size:20px"><b>Application - calculating simple and cumulative returns</b></font>

Here I will quickly show you how can apply your knowledge about functions in <font color='mediumseagreen'><b>Pandas</b></font> to calculate simple (arithmetic) returns and cumulative returns.

#### <font color='MediumPurple' style="font-size:16px"><b>Simple returns</b></font>

**Simple or arithmetic returns** are defined as:

$$r_{t}=\frac{P_{t}−P_{t-1}}{P_{t-1}}=\frac{ΔP_t}{P_{t-1}}=\frac{P_t}{P_{t-1}}−1$$

From this expression, it is easy to see that price at time t is related to the simple return as follows:

$$P_t=P_{t-1}(1+r_t)$$

The simplest way to calculate simple returns with <font color='mediumseagreen'><b>Pandas</b></font> is to use method-function already defined in <font color='DodgerBlue'><b>pd.DataFrame</b></font> class which calculates percentage change of columns (which is exactly simple return). It is called <font color='DeepPink'><b>pct_change</b></font> and it belong to data-transforming group of method-functions. Let's try it out:

In [110]:
a_ret = df2.pct_change()
a_ret.head()

                AMZN      YHOO       IBM      AAPL     ^GSPC
Date
2013-01-02       NaN       NaN       NaN       NaN       NaN
2013-01-03  0.004547 -0.014940 -0.005500 -0.012630 -0.002086
2013-01-04  0.002592  0.004044 -0.006555 -0.027848  0.004865
2013-01-07  0.035921 -0.023162 -0.004382 -0.005882 -0.003123
2013-01-08 -0.007744  0.013402 -0.001398  0.002691 -0.003242

We can calculate this also using the **diff()** and **shift()** methods.

In [112]:
(df2.diff()/df2.shift(1)).head()

                AMZN      YHOO       IBM      AAPL     ^GSPC
Date
2013-01-02       NaN       NaN       NaN       NaN       NaN
2013-01-03  0.004547 -0.014940 -0.005500 -0.012630 -0.002086
2013-01-04  0.002592  0.004044 -0.006555 -0.027848  0.004865
2013-01-07  0.035921 -0.023162 -0.004382 -0.005882 -0.003123
2013-01-08 -0.007744  0.013402 -0.001398  0.002691 -0.003242

#### <font color='MediumPurple' style="font-size:16px"><b>Cumulative returns</b></font>

**Cumulative returns** is return that would be accumulated if you invest one 1 dollar at the beginning time $t$ and kept it invested for $k$ periods.

Suppose we invest in a financial asset for several elementary periods (say, $k$). How can we calculate the return that the asset has made during these $k$ periods? Let us denote this cummulative return as $cr_{t+k}^A$. Simple algebra shows that:

$$1+cr^A_{t+k}=\frac{P_{t+k}}{P_t}=\frac{P_{t+k}}{P_{t+k−1}}\cdot\frac{P_{t+k−1}}{P_t}=\frac{P_{t+k}}{P_{t+k−1}}\cdot\frac{P_{t+k−1}}{P_t}⋯\frac{P_{t+2}}{P_{t+1}}\cdot\frac{P_{t+1}}{P_t}$$

Thus, dividing and multiplying by intermediate values of asset prices, we can rewrite gross cumulative return on asset as a product of gross single period returns:

$$1+cr_{t+k}^{A} = \frac{P_{t+k}}{P_{t}} = \left(1+r_{t+k}^{A} \right) \cdots \left(1+r_{t+2}^{A} \right) \left(1+r_{t+1}^{A} \right)$$

If we divide all prices in series with the first price we will obtain cumulative returns. We can achieve that simply by dividing whole data set with its first row (i.e. initial prices):

In [113]:
c_ret = df2/df2.iloc[0]
c_ret

                AMZN      YHOO       IBM      AAPL     ^GSPC
Date
2013-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
2013-01-03  1.004547  0.985060  0.994500  0.987370  0.997914
2013-01-04  1.007151  0.989044  0.987981  0.959874  1.002769
2013-01-07  1.043329  0.966135  0.983652  0.954228  0.999638
2013-01-08  1.035249  0.979084  0.982276  0.956796  0.996396
...              ...       ...       ...       ...       ...
2014-12-24  1.177685  2.522410  0.824141  1.428100  1.423586
2014-12-26  1.201236  2.532869  0.826789  1.453344  1.428297
2014-12-29  1.212701  2.516434  0.817469  1.452324  1.429528
2014-12-30  1.205938  2.550797  0.815126  1.434602  1.422539
2014-12-31  1.206133  2.515438  0.817112  1.407318  1.407872

[504 rows x 5 columns]

When it comes to simple returns, cumulative returns can be calculated as cumulative product of their gross returns (this is why I have shown you previously how to calculate gross returns and cumulative product in <font color='mediumseagreen'><b>Pandas</b></font>):

In [114]:
(a_ret+1).cumprod()

                AMZN      YHOO       IBM      AAPL     ^GSPC
Date
2013-01-02       NaN       NaN       NaN       NaN       NaN
2013-01-03  1.004547  0.985060  0.994500  0.987370  0.997914
2013-01-04  1.007151  0.989044  0.987981  0.959874  1.002769
2013-01-07  1.043329  0.966135  0.983652  0.954228  0.999638
2013-01-08  1.035249  0.979084  0.982276  0.956796  0.996396
...              ...       ...       ...       ...       ...
2014-12-24  1.177685  2.522410  0.824141  1.428100  1.423586
2014-12-26  1.201236  2.532869  0.826789  1.453344  1.428297
2014-12-29  1.212701  2.516434  0.817469  1.452324  1.429528
2014-12-30  1.205938  2.550797  0.815126  1.434602  1.422539
2014-12-31  1.206133  2.515438  0.817112  1.407318  1.407872

[504 rows x 5 columns]



---
**<font color='DarkBlue ' style="font-size:25px"> Task: Analysing data from Yahoo Finance</font>**

Write a program to calculate the percentage price change over 2021 for the following shares:

### <font color='MediumVioletRed' style="font-size:20px"><b>Application - using method Rolling for calculating running statistics - READ AT HOME</b></font>

Running statistics are very important in data analysis. They are commonly used with time series data to smooth out short-term fluctuations and highlight longer-term trends or cycles. This is why such statistics are basic tools for financial chartists and technical traders.

All running statistics are calculated in the same way. First you need to define interval of observations for which you want to calculate running statistics. This interval is commonly called **rolling window**.

> For example, assume that you want to calculate monthly running statistic of financial time series. Since business year has $252$ days by convention, then business month has $21$ days which follows approximately from $\left(\frac{252}{12}\right)$. Thus, you will set length of your interval, i.e. window, to $21$ consecutive observations.

The next step is to calculate the chosen statistic for each window. In our example that would mean that you need to calculate statistic for the first $21$ observations (i.e. from $1$st to $22$nd).

Then you move one observation ahead and calculate the statistic again for the next window (from $2$nd to $23$rd observation), and so on. This process continues until last window is reached (from $231$st to $252$nd observation).

Calculating running statistic in <font color='mediumseagreen'><b>Pandas</b></font> is extremely simple. To divide data set into windows for which you want to calculate running statistics you have to use method <font color='DeepPink'><b>rolling</b></font>.

Inside of it you have to state its required argument - window size. After that you can apply any function on output and you will have series of running statistics.

#### <font color='MediumPurple' style="font-size:16px"><b>Running mean</b></font>

Calculate monthly running mean for Yahoo stock price from *df2*. The window size is set to $21$.

In [116]:
df2.YHOO.rolling(21).mean()

Date
2013-01-02          NaN
2013-01-03          NaN
2013-01-04          NaN
2013-01-07          NaN
2013-01-08          NaN
                ...
2014-12-24    50.464524
2014-12-26    50.423571
2014-12-29    50.356905
2014-12-30    50.332143
2014-12-31    50.351667
Name: YHOO, Length: 504, dtype: float64

Please note that usage of running statistic generates as many missing data as the size of the rolling window.

#### <font color='MediumPurple' style="font-size:16px"><b>Running correlation</b></font>

Before we start, we need to consider method <font color='DeepPink'><b>corr</b></font>. This method calculates correlation matrix when it is applied at <font color='DodgerBlue'><b>pd.DataFrame</b></font>:

In [117]:
a_ret.corr()

           AMZN      YHOO       IBM      AAPL     ^GSPC
AMZN   1.000000  0.382595  0.206672  0.092862  0.515016
YHOO   0.382595  1.000000  0.196861  0.176240  0.508844
IBM    0.206672  0.196861  1.000000  0.141474  0.460189
AAPL   0.092862  0.176240  0.141474  1.000000  0.314665
^GSPC  0.515016  0.508844  0.460189  0.314665  1.000000

If it is applied on <font color='DodgerBlue'><b>pd.Series</b></font> it computes single correlation coefficient. For example, let's calculate correlation coefficient between Amazon's and Yahoo's returns:

In [118]:
a_ret['YHOO'].corr(a_ret['AMZN'])

0.38259516188927123

When we calculate running correlation, we basically want to see how correlation coefficient changes over time. You can achieve that in two ways, but here I will show you only simpler one. Use two <font color='DodgerBlue'><b>pd.Series</b></font> with method <font color='DeepPink'><b>corr</b></font> to calculate correlation coefficient on rolling samples:

In [119]:
a_ret['YHOO'].rolling(21).corr(a_ret['AMZN'])

Date
2013-01-02         NaN
2013-01-03         NaN
2013-01-04         NaN
2013-01-07         NaN
2013-01-08         NaN
                ...
2014-12-24    0.654367
2014-12-26    0.643057
2014-12-29    0.622945
2014-12-30    0.633270
2014-12-31    0.527597
Length: 504, dtype: float64

## <font color='orange' style="font-size:25px"><b>Adding and replacing elements in pandas</b></font>

Contrary to <font color='mediumseagreen'><b>NumPy</b></font>'s <font color='DodgerBlue'><b>np.array</b></font> objects, enlarging the <font color='DodgerBlue'><b>pd.DataFrame</b></font> object in both dimensions is possible.

This means that we can add both - new rows and new columns. Also, we can connect two <font color='DodgerBlue'><b>pd.DataFrame</b></font> in several ways. This and other advantages of <font color='mediumseagreen'><b>Pandas</b></font> related to adding and replacing elements of data set will be discussed in this chapter.

### <font color='MediumVioletRed' style="font-size:20px"><b>Adding and replacing columns</b></font>

Adding columns in <font color='mediumseagreen'><b>Pandas</b></font> is simple. This is inherited from dictionaries. For this data structure, new key and value can be added as follows:

<center><b>dictionary[new key] = value that you want to add</b></center>

This is exactly the same in <font color='mediumseagreen'><b>Pandas</b></font>. Just write the name of variable in which you have stored your <font color='DodgerBlue'><b>pd.DataFrame</b></font> and put the name of the new column in square brackets in front of it (like in case when you want to extract columns from data set). After that, put the assignment operator (ie. = sign) and the list of values that you want to insert and voilà - you have added new column in your data set!

Suppose I want to add a column to my data set on 3 game stock returns that would contain the sum of returns for each particular day.

In [120]:
df3['sum'] = df3.sum(axis=1)  # Adding a column 'sum' to the df3 data frame

In [121]:
df3

             Ubisoft    Capcom  Electronic Arts       sum
Date
2019-07-02  0.010918 -0.002745         0.018139  0.026312
2019-07-03  0.041296  0.006685        -0.044879  0.003102
2019-07-05 -0.018914  0.020508        -0.045969 -0.044375
2019-07-08 -0.012438  0.000957        -0.001709 -0.013190
2019-07-09  0.002519 -0.032505        -0.014876 -0.044862
...              ...       ...              ...       ...
2020-06-23  0.008382  0.031746         0.006784  0.046912
2020-06-24  0.004476 -0.025995         0.002067 -0.019452
2020-06-25  0.009548  0.018519        -0.000993  0.027073
2020-06-26 -0.007566 -0.001604         0.001453 -0.007717
2020-06-29 -0.001906 -0.010712        -0.001833 -0.014451

[251 rows x 4 columns]

You can use the same trick to **replace existing data** in a column. Suppose you wanted instead to have under column 'sum' to be the means of the returns (row by row). You could simply change things up as follows:

In [122]:
df3['sum'] = df3.mean(axis=1)
df3.head()

             Ubisoft    Capcom  Electronic Arts       sum
Date
2019-07-02  0.010918 -0.002745         0.018139  0.013156
2019-07-03  0.041296  0.006685        -0.044879  0.001551
2019-07-05 -0.018914  0.020508        -0.045969 -0.022187
2019-07-08 -0.012438  0.000957        -0.001709 -0.006595
2019-07-09  0.002519 -0.032505        -0.014876 -0.022431

### <font color='MediumVioletRed' style="font-size:20px"><b>Adding and replacing rows</b></font>

Suppose we wanted to add another row, say, at the end

In [123]:
df3.loc['2020-06-30'] = [0.03,0.02,0.01,0.02]
df3

             Ubisoft    Capcom  Electronic Arts       sum
Date
2019-07-02  0.010918 -0.002745         0.018139  0.013156
2019-07-03  0.041296  0.006685        -0.044879  0.001551
2019-07-05 -0.018914  0.020508        -0.045969 -0.022187
2019-07-08 -0.012438  0.000957        -0.001709 -0.006595
2019-07-09  0.002519 -0.032505        -0.014876 -0.022431
...              ...       ...              ...       ...
2020-06-24  0.004476 -0.025995         0.002067 -0.009726
2020-06-25  0.009548  0.018519        -0.000993  0.013537
2020-06-26 -0.007566 -0.001604         0.001453 -0.003859
2020-06-29 -0.001906 -0.010712        -0.001833 -0.007226
2020-06-30  0.030000  0.020000         0.010000  0.020000

[252 rows x 4 columns]

### <font color='MediumVioletRed' style="font-size:20px"><b>Changing column labels</b></font>

But then, you figure out that, in fact, the name 'sum' after all, is a bad name for the column which contains means. Instead, you could like to call it 'Industry Mean'. Hee is a simple way how you can change this

In [124]:
df3

             Ubisoft    Capcom  Electronic Arts       sum
Date
2019-07-02  0.010918 -0.002745         0.018139  0.013156
2019-07-03  0.041296  0.006685        -0.044879  0.001551
2019-07-05 -0.018914  0.020508        -0.045969 -0.022187
2019-07-08 -0.012438  0.000957        -0.001709 -0.006595
2019-07-09  0.002519 -0.032505        -0.014876 -0.022431
...              ...       ...              ...       ...
2020-06-24  0.004476 -0.025995         0.002067 -0.009726
2020-06-25  0.009548  0.018519        -0.000993  0.013537
2020-06-26 -0.007566 -0.001604         0.001453 -0.003859
2020-06-29 -0.001906 -0.010712        -0.001833 -0.007226
2020-06-30  0.030000  0.020000         0.010000  0.020000

[252 rows x 4 columns]

In [125]:
df3.rename(columns={"sum":'Industry Mean'})

             Ubisoft    Capcom  Electronic Arts  Industry Mean
Date
2019-07-02  0.010918 -0.002745         0.018139       0.013156
2019-07-03  0.041296  0.006685        -0.044879       0.001551
2019-07-05 -0.018914  0.020508        -0.045969      -0.022187
2019-07-08 -0.012438  0.000957        -0.001709      -0.006595
2019-07-09  0.002519 -0.032505        -0.014876      -0.022431
...              ...       ...              ...            ...
2020-06-24  0.004476 -0.025995         0.002067      -0.009726
2020-06-25  0.009548  0.018519        -0.000993       0.013537
2020-06-26 -0.007566 -0.001604         0.001453      -0.003859
2020-06-29 -0.001906 -0.010712        -0.001833      -0.007226
2020-06-30  0.030000  0.020000         0.010000       0.020000

[252 rows x 4 columns]

There are multiple ways in which you can change names of columns and indices. Different methods may be useful in different occasions. Since we don't have a lot of time, I am going to show you only two ways in which this can be done.

Method <font color='DeepPink'><b>rename</b></font> is very powerful. It can change at once both names of columns and rows. Also, it is the only method which can change names of individual columns and rows while all other methods change names of all columns or rows at once.

It has two arguments **columns** and **rows**. Both are dictionary-like. Here I justs want to change column name.

## <font color='orange' style="font-size:25px"><b>Exporting data</b></font>

After we have performed some analysis or transformation of data in Python, usually we need to export our result into same file. Exporting data with <font color='mediumseagreen'><b>Pandas</b></font> is very easy. As a matter of fact you have a lot of predefined methods for data exporting. I will show you two of them which we are going to use mainly during our courses.

The first method <font color='DeepPink'><b>to_csv</b></font>. It exports the data set into a csv file. It has only one required argument - the name of the file that you want to create (don't forget to put extension). You can also state the directory at which you want file to appear instead of file name.

Let's export data set of cumulative returns into csv:

In [126]:
c_ret.to_csv('Cumulative Returns.csv')

Of course, Google Colab users will have to download their file:

In [127]:
from google.colab import files
files.download('Cumulative Returns.csv')

Method <font color='DeepPink'><b>to_excel</b></font> exports the given data set into Microsoft Excel. Again, it has only one required argument - name of the file that you want to create.

Also, you can state here as well directory at which you want to create file in question (i.e. everything is the same as in previous method, the only difference is the type of file that you want to create).

This is how we can export the same data set into excel:

In [128]:
c_ret.to_excel('Cumulative Returns.xlsx')

In [130]:
from google.colab import files
files.download('Cumulative Returns.xlsx')

There are many other exporting methods which you can check on your own if you need them, but we won't be needing them in our courses. Also, as you can see <font color='mediumseagreen'><b>Pandas</b></font> is very rich library and I strongly advise you to explore it even further on your own (when you have time to do so, of course).